.videoContainer {
    padding-top: 68px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    padding-bottom: 40px;
}

.videoContainer::-webkit-scrollbar {
    display: none;
}

.closeVideoModal {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}

.closeVideoModalSymbol:hover {
    background-color: brown;
    color: white;
    border: none;
}

.inscreen {
    border: 1px solid red;
    width: 400px;
    height: 204px;
    z-index: 99;
    margin-top: 20px;
    position: fixed;
}

.noData {
    margin-top: 50px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}