.coverImage {
    width: 400px;
    height: 65px;
    padding-top: 43px;
    position: relative;
}

.coverImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.channelImage {
    width: 55px;
    height: 55px;
    top: 80px;
    left: 20px;
    position: absolute;
}

.channelImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.channelName {
    padding-top: 12px;
    margin-left: 50px;
    text-transform: capitalize;
    font-size: 18px;
}

.subscribed {
    display: flex;
    margin-top: -13px;
    margin-left: 70px;

}

.subscribed span {
    margin-left: 20px;
    margin-right: 5px;
}

