.category {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: fixed;
    margin-top: 42px;
    height: 43px;
    width: 400px;
    background-color: white;
    z-index: 1;
    padding-top: 3px;
    /* padding: 0px 10px; */
}

.category::-webkit-scrollbar {
    display: none;
}

.categoryList {
    height: 21px;
    margin: 5px;
}

.categoryList p {
    margin: auto;
    padding: 7px 15px;
    text-transform: capitalize;
    font-size: 15px;
    width: auto;
    text-decoration: none;
}

.active {
    margin: auto;
    padding: 3px 12px;
    text-transform: capitalize;
    font-size: 10px;
    width: auto;
    text-decoration: none;
    color: white;
    background-color: #606060;
    border-radius: 6px;
    display: flex;
    text-transform: capitalize;
}

.notActive {
    margin: auto;
    padding: 3px 12px;
    text-transform: capitalize;
    font-size: 10px;
    width: auto;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    text-transform: capitalize;
    background-color: rgb(242 242 242);
    color: black;
}