.header {
    display: flex;
    width: 400px;
    height: 43px;
    justify-content: space-between;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 20%);
    position: fixed;
    background-color: white;
    z-index: 3;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    align-items: center;
}

.icon {
    font-size: 25px;
}

.headerTitle p {
    margin: 0;
    margin-left: 25px;
}

.userDetails {
    display: flex;
    padding-top: 60px;

}

.user {
    background-color: chocolate;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: none;
    margin-left: 10px;
}

.user img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.userName {
    margin-left: 10px;
}

.userName p {
    text-transform: capitalize;
    padding: 12px 0;
    margin: -16px 0;
    justify-content: center;
}

.userName p span {
    align-items: center;
}

.youtubeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    text-transform: capitalize;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.youtubeRow p {
    margin-left: 30px;
    margin-top: 15px;
    color: grey;
}

.youtubeRowSymbol {
    background-color: white;
    color: red;
    border-radius: 50%;
}

.footer {
    display: flex;
    position: fixed;
    width: 400px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 2;
    background-color: white;
    font-size: 16px;
    height: 40px;
}

.footer span {
    font-weight: bold;
}

.oneDot {
    height: 10px;
    padding-top: 6px;
}

.editProfileModal {
    width: 400px;
    height: 100vh;
    background-color: white;
}

.Checkicon {
    font-size: 25px;
    float: right;
    align-items: center;
}

.editProfilTitle {
    display: flex;
    width: 400px;
    align-items: center;

}

.headFirst {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headFirst p {
    align-items: center;
}

.headSecond {
    width: 50%;
    align-items: center;
}

.profilePic {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 70px;
}

.profilePic img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.profileText {
    text-align: center;
    color: rgb(28, 137, 161);
}


/* input style */
.form {
    position: relative;
    height: 3rem;
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 85%;
    text-transform: capitalize;
}

.form input {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    height: 20%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;
}

.form input:hover {
    border-color: rgb(28, 137, 161);
}

.form input:focus {
    border-color: rgb(28, 137, 161);
}

.form label {
    position: absolute;
    left: 2.5rem;
    top: 1.1rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: white;
}

/* 
  1. When the input is in the focus state
  reduce the size of the label and move upwards 
  
  2. Keep label state when content is in input field 
  */

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 1.5rem;
}