.carousel {
    width: 400px;
    height: 100vh;
    background-color: black;
}

.carousel video {
    width: 400px;
    height: 100vh;
    object-fit: contain;
}

.backIcon {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    font-size: 28px;
    color: white;
    border: 1px solid black;
}

.title {
    position: absolute;
    bottom: 75px;
    text-align: left;
    margin: 0px 15px;
    color: white;
    font-size: 15px;
    width: 80%;
}

.channelDetails {
    display: flex;
    position: absolute;
    bottom: 15px;
    text-align: left;
    margin: 0px 15px;
    color: white;
    font-size: 15px;
    align-items: center;
}

.channelimg {
    width: 40px;
    height: 40px;
}

.channelimg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.channelDetails p {
    margin-left: 10px;
}

.subscribed {
    padding: 8px 14px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 20px;
}

.ReactPlayer {
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh !important;

}

.carousel .slider-wrapper.axis-vertical {
    height: 100vh !important;
}