.carousel {
    width: 400px;
    height: 100vh;
    background-color: black;
}

.carousel video {
    width: 400px;
    height: 100vh;
    object-fit: contain;
}

.backIcon {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 2;
    font-size: 28px;
    color: white;
}

.title {
    position: absolute;
    bottom: 145px;
    text-align: left;
    margin: 0px 15px;
    color: white;
    font-size: 18px;
    width: 80%;
    text-transform: capitalize;
}

.channelDetails {
    display: flex;
    position: absolute;
    bottom: 75px;
    text-align: left;
    margin: 0px 15px;
    color: white;
    font-size: 15px;
    align-items: center;
    width: 85%;
    justify-content: flex-start;
}

.channelimg {
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;

}

.channelimg img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.channelDetails p {
    margin-left: 10px;
}

.firstchannelDetails {
    display: flex;
    text-align: center;
    width: 60%;
}

.firstchannelDetails p {
    font-size: 18px;
}

.secondchannelDetails {
    display: flex;
    text-align: center;
    width: 25%;
}

.subscribed {
    padding: 8px 14px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.ReactPlayer {
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh !important;

}

.carousel .slider-wrapper.axis-vertical {
    height: 100vh !important;
}