.video {
    width: 100%;
    height: 220px;
    background-color: black;
    position: relative;
    padding-top: 43px;
}

.video img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.title {
    font-weight: bold;
    text-transform: capitalize;
    height: 40px;
    overflow: hidden;
    font-size: 15px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.channel {
    color: grey;
    font-size: 13px;
    height: 15px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 5px;

}

.oneDot {
    height: 15px;
    padding-top: 6px;
}

.videoDetails {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 100%;
}

.videoDetailsChannel {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 70%;
    cursor: pointer;
}

.videoDetailsChannel p {
    margin-left: 10px;
}

.image {
    margin-left: 8px;
    width: 40px;
    height: 40px;
}

.image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.subscribe {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-right: 15px;
    cursor: pointer;

}

.LikeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 45px;
}

.LikeContainer::-webkit-scrollbar {
    display: none;
}

.Like_share {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    margin-left: 15px;
    height: 40px;
    padding: 0px 10px;
    justify-content: space-evenly;
}

.Like_share p {
    margin-left: 10px;
    margin-right: 10px;
}

.playerWrapper {
    position: relative;
    padding-top: 56.25%;
}

.ReactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

/* isVideoEnd */
.uploadVideos {
    display: flex;
    height: 90px;
    margin-left: 25px;
    padding-top: 50px;
}

.uploadVideosImg {
    width: 160px;
    height: 90px;
}

.uploadVideosImg img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.uploadVideosDetails {
    height: 90px;
    width: 140px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    color: white;
}

.uploadVideosDetails h3 {
    height: 50px;
    margin: 0px;
    font-size: 14px;
    text-transform: capitalize;
}

.uploadVideosDetails p {
    height: 15px;
    margin: 3px 0px;
    font-size: 12px;
    color: grey;
}