@font-face {
    font-family: "Teko";
    src: local("Teko"),
        url("../../assets/Font/Teko/Teko-Regular.ttf") format("truetype");
}

.title {
    display: flex;
    margin: auto;
    text-align: center;
    margin-top: 110px;
    height: 150px;
    justify-content: center;
}

.icon {
    color: rgb(28, 137, 161);
    font-size: 60px;
    height: 150px;

}

.title p {
    font-size: 50px;
    height: 150px;
    margin-left: 10px;
    font-family: Teko;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.inputContainer input {
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
    outline: none;
    border: none;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.signup {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    justify-content: center;
}

.signup span {
    color: rgb(28, 137, 161);
    font-weight: bold;
}

.btn {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 50px;
    justify-content: center;
}

.btn button {
    padding: 10px 46px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.form {
    position: relative;
    height: 3rem;
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 85%;
    text-transform: capitalize;
}

.form input {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    height: 20%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;
}

.form input:hover {
    border-color: rgb(28, 137, 161);
}

.form input:focus {
    border-color: rgb(28, 137, 161);
}

.form label {
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: white;
}

/* 
  1. When the input is in the focus state
  reduce the size of the label and move upwards 
  
  2. Keep label state when content is in input field 
  */

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 1.5rem;
}